{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Mo.Sajid Vagh</title>
    <meta name="description" content="Contact Mo.Sajid Vagh">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="{% static 'images/navbar/cm-letter-logo-design-icon_877718-743.svg' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body class="contact-page">

<!--Start navbar-->
    {% include 'navbar.html' %}
<!--End navbar-->

<main class="main">
    <!-- Contact Section -->
    <section id="contact" class="contact section">
        <div class="container section-title" data-aos="fade-up">
            <h2>Contact</h2>
            <h3 class="text-center mt-0">Tell me about your next project</h3>
            <p style="font-size: 18px; font-weight: 300; line-height: 1.5; color: #5b5b5b;">
                Feel free to reach out for collaborations or just a friendly hello
            </p>
        </div>

        <!-- Contact List -->
        <div class="container">
            <ul class="con-info-list">
                <li class="con-info-item">
                    <img src="{% static 'images/contact/email.svg' %}" alt="Email Icon">
                    <h3 class="h4 mb-2">Mail</h3>
                    <p class="py-2">vaghmohammadsajid8@gmail.com</p>
                    <a href="mailto:vaghmohammadsajid8@gmail.com" class="btn-get-started">Send Me</a>
                </li>
                <li class="con-info-item" style="border-color: #34b7a7;">
                    <img src="{% static 'images/contact/telegram.svg' %}" alt="Telegram Icon">
                    <h3 class="h4 mb-2">Telegram</h3>
                    <p class="py-2">@VaghMohammadSajid786</p>
                    <a href="https://t.me/MoSajid786" class="btn-get-started">Message</a>
                </li>
                <li class="con-info-item">
                    <img src="{% static 'images/contact/github.svg' %}" alt="GitHub Icon">
                    <h3 class="h4 mb-2">GitHub</h3>
                    <p class="py-2">@VaghMohammadSajid</p>
                    <a href="https://github.com/VaghMohammadSajid" class="btn-get-started">Follow</a>
                </li>
                <li class="con-info-item" style="border-color: #34b7a7;">
                    <img src="{% static 'images/contact/skype.svg' %}" alt="Telegram Icon">
                    <h3 class="h4 mb-2">Skype</h3>
                    <p class="py-2">Mohammad Sajid</p>
                    <a href="https://join.skype.com/invite/ytIwbahbF6eW" class="btn-get-started">Call Me</a>
                </li>
            </ul>
        </div>
    </section>
</main>

<!--Start Footer -->
    {% include 'footer.html' %}
<!--End Footer -->

</body>
</html>
