<footer id="footer" class="footer light-background">
    <div class="container">
        <div class="copyright text-center ">
            <p>&copy; 2024 <a href="{% url 'home' %}">MohammadSajid Vagh</a>. All Rights Reserved.</p>
        </div>
    </div>
</footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!--Start All Js -->
{% include 'all_js.html' %}
<!--End All Js-->